.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/webpack.config.js
.vscode
/package.json
/package-lock.json
.babelrc
.editorconfig
*assets